/* 
 GRID
*/
  /* wrapper for the images object*/
.hover-img-wrapper {
  display: grid;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  overflow: hidden;
  position: relative;
  width: 25%;
  height:25;
}
/* wrappers for every single image box */
.image-hover-1 { 
  grid-area: 1 / 1 / 2 / 2; 
  
}
.image-hover-2 { 
  grid-area: 1 / 2 / 2 / 3; 
}
.image-hover-3 { 
  grid-area: 2 / 1 / 3 / 2; 
}
.image-hover-4 { 
  grid-area: 2 / 2 / 3 / 3;
  
} 

/* 
  ---- image hoover ----
      START
*/
  
  /* figure */
  .hover-img-blue-box{
    height:25%;
    width: 25%;
    position: absolute;
    
  }

  /* style for figures */
  .hover-img-blue-box figure {
    float: left;
    margin-bottom: 0;
    text-align: center;
    cursor: pointer;
    display: table-row;
  }

  .hover-img-blue-box figure img {
    /*position: relative;*/
    display: block;
    max-height: 25%;
    max-width: 25%;
    opacity: 0.8;
    display: table-row;
  }

  figure.hover-img-blue-box-item.hover-img-blue-box-effect {
    
  }
  
  .hover-img-blue-box-item figure figcaption {
    padding: 1em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: table-row;
  }

  .hover-img-blue-box-item {
    padding-left: 10px;
    padding-right: 10px;
    display: table-row;
  }

    
  .hover-img-blue-box-item figure figcaption > img {
    z-index: 1;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
    float: left;
    height: 100%;
    min-height: 1px;
    box-sizing: border-box;
    display: table-row;
  }
  .hover-img-blue-box-item figure figcaption,
  .hover-img-blue-box-item figure figcaption > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: table-row;
  }
  
  .hover-img-blue-box-item figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
  }
  
  .hover-img-blue-box-item figure h2 span {
    font-weight: 800;
  }
  
  .hover-img-blue-box-item figure h2, .hover-img-blue-box-item figure p {
    margin: 0;
  }
  
  .hover-img-blue-box-item figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
  }
  
  .hover-img-blue-box-item figure p {
    font-size: 63%;
    padding: 0;
    line-height: 1.5;
  }
  

  /* that cool css effect */
  figure.hover-img-blue-box-effect{
    background: #069;
  }
  
  /* Anchor will cover the whole item by default */
  /* For some effects it will show as a button */
  
  figure.hover-img-blue-box-effect h2 {
    font-size: 1.1rem;
    margin-bottom: 25px;
  }

  @supports (transition: initial){
  figure.hover-img-blue-box-effect img {
    opacity: 1;
    /*-webkit-transition: opacity 0.35s;*/
    transition: opacity 0.35;
  }

  figure.hover-img-blue-box-effect figcaption::before,
  figure.hover-img-blue-box-effect figcaption::after {
    position: absolute;
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    content: "";
    opacity: 0;
    /*-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;*/
    transition: opacity 0.35s, transform 0.35;
    transition: transform 0.35s;
  }

  figure.hover-img-blue-box-effect h2 {
    font-size: 1.5rem;
    margin-bottom: 30px;
    opacity: 0;
    /*-webkit-transition: -webkit-transform 0.35s;*/
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  figure.hover-img-blue-box-effect p {
    width: 100%;
    padding: 10px;
    opacity: 0;
    /*-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;*/
    transition: opacity 0.35s transform 0.35s;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
    transition: transform 0.35s;
  }
}/* end of transition */
  
  figure.hover-img-blue-box-effect figcaption::before{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
  }
  
  figure.hover-img-blue-box-effect figcaption::after {
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  
  figure.hover-img-blue-box-effect h2 {
    font-size: 1.1rem;
    margin-bottom: 25px;
  }
  
  figure.hover-img-blue-box-effect:hover figcaption::before,
  figure.hover-img-blue-box-effect:hover figcaption::after {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  
  figure.hover-img-blue-box-effect:hover h2,
  figure.hover-img-blue-box-effect:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  
  
  /*
  The @media rule is used in media queries to apply different styles for 
  different media types/devices.
  
  Media queries can be used to check many things, such as:
  
  width and height of the viewport
  width and height of the device
  orientation (is the tablet/phone in landscape or portrait mode?)
  resolution
  Using media queries are a popular technique for delivering a tailored style
   sheet (responsive web design) to desktops, laptops, tablets, and mobile phones.
  
   https://www.w3schools.com/cssref/css3_pr_mediaquery.php
  */
  
  @media (max-width: 1600px) {
    .hover-img-wrapper {
      max-width: 780px;
    }
  }
  
  @media (max-width: 1200px) {
    .hover-img-wrapper {
      max-width: 520px;
    }
  }
  
  @media (max-width: 991px) {
    .hover-img-wrapper {
      max-width: 780px;
    }
  }
  
  @media (max-width: 767px) {
    .hover-img-wrapper {
      max-width: 520px;
    }
  }
  
  @media (max-width: 480px) {
    .hover-img-wrapper {
      max-width: 260px;
    }
  }

  @keyframes blinker {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.1;
    }
    100% {
      opacity: 1;
    }
  }

  /* 
    ---- image hoover ----
        FINISH
  */