.body{
  background-image: url("../../svg/backgrounds/Main-background.svg");
  background-repeat: repeat;
}

/* sticky for navbar 



Use the CSS z-index property. Elements with a greater z-index value 
are positioned in front of elements with smaller z-index values.

Note that for this to work, you also need to set a position style
 (position:absolute, position:relative, or position:fixed) on both/all
  of the elements you want to order.


*/
.sticky {
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
}

.about-us{

}

.image-slider-main-css {

}

